In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
#ml
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import r2_score,accuracy_score

In [2]:
df=pd.read_csv("/kaggle/input/social-ads/Social_Network_Ads.csv")

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

## encoding of gender column

In [4]:
df=pd.get_dummies(df,columns=['Gender'],drop_first=True)
df

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0         True
1    15810944   35            20000          0         True
2    15668575   26            43000          0        False
3    15603246   27            57000          0        False
4    15804002   19            76000          0         True
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1        False
396  15706071   51            23000          1         True
397  15654296   50            20000          1        False
398  15755018   36            33000          0         True
399  15594041   49            36000          1        False

[400 rows x 5 columns]

In [5]:
x=df[['Age','EstimatedSalary','Gender_Male']]
y=df[['Purchased']]

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20)

In [7]:
model= KNeighborsClassifier(n_neighbors=3)
model.fit(x_train,y_train)

/opt/conda/lib/python3.10/site-packages/sklearn/neighbors/_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [8]:
y_predic=model.predict(x_test)

In [9]:
y_test

     Purchased
338          0
149          0
306          0
390          1
118          0
..         ...
75           1
84           0
215          1
76           0
257          0

[80 rows x 1 columns]

In [10]:
r2_score(y_test,y_predic)

0.39560439560439575

In [11]:
accuracy_score(y_test,y_predic)

0.8625